:root {
    --animate-duration: 2000ms;
    --animate-delay: 0.5s;
}

html,
body {
    margin: 0;
    height: 100%;
}

.lottie {
    height: 30%;
    margin-top: 15%;
}

.info {
    font-size: 1.5em;
    height: 100vh;
}

.section .content {
    /* background-color: rgb(255 230 156 / 60%); */
}

.fullpage-wrapper .fp-table {
    justify-content: start;
}

.bg {
    width: 100%;
    height: 100%;
    background-image: url("images/ynu.jpg");
    /* opacity: 0.75; */
    /* 
    mask-image: linear-gradient(#000, transparent);
    -webkit-mask-image: linear-gradient(#000, transparent); 
    */
    /*     
    mask-image: linear-gradient(90deg, transparent, #000 15%, #000 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(90deg, transparent, #000 15%, #000 85%, transparent 100%);
    */
    /*
    mask-image: url("images/001.png");
    -webkit-mask-image: url("images/001.png");
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat; 
    -webkit-mask-repeat: no-repeat;
    mask-position: center center;
    -webkit-mask-position: center center;
    */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-ecard {
    background-image: url("images/ynu.jpg");    
}

.bg-error {
    background-image: url("images/ynu.jpg");
}

.bg-index {
    background-image: url("images/ynu.jpg");
}

.bg-not-found {
    background-image: url("images/ynu.jpg");
}

.bg-accompany {
    background-image: url("images/accompany.jpg");
}

.bg-farewell {
    background-image: url("images/farewell.jpg");
}

.bg-first-sight {
    background-image: url("images/first-sight.jpg");
}

/* Use writing-mode with text-orientation to create vertical texts */
.vertical-rl-upright {
    writing-mode: vertical-rl;
    text-orientation: upright;
}


.vertical-lr-upright {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.content {
    margin: 0.5em;
    line-height: 1;
}

.content-font {
    font-family: KaiTi, 'FZFangSong-Z02', 'Microsoft YaHei', serif;
    font-size: x-large;
}